/* footer------------------------------------- */


footer {
  width: 100vw;
  text-align: center;
  line-height: 2;
  background-image: linear-gradient(to right, rgb(71, 70, 70), black);
  padding: 2rem;
  margin: 0;

  a {
    color: aliceblue;
  }

  div {
    margin-bottom: .5rem;
  }
  .icon {
    color: white;
    font-size: 2rem;
    margin: .5rem;
  }
}