/* Trabajos realizados------------------------------- */

.trabajos-realizados {
  h3 {
    text-align: center;
    margin: 2rem 0;
    color: black;
  }
}

.imagenes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-trabajos {
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-bottom: 1rem;

  p {
    padding: 1rem;
  }

  img {
    width: 400px;
    height: 300px;
  }
}